.job-list {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    min-width: 500px;
}

.job {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-header h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.job-tags {
    margin-top: 10px;
}

.job-tag {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 2px 7px;
    margin-right: 3px;
    font-weight: bold;
}

.job-actions {
    text-align: right;
    align-content: center;
}

.like-button {
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex; /* Adiciona flexbox ao botão */
    justify-content: center; /* Alinha horizontalmente no centro */
    align-items: center; /* Alinha verticalmente no centro */
    padding: 0;
}

.like-button img {
    width: 60px; /* Ajusta o tamanho do ícone */
    height: auto; /* Mantém a proporção do ícone */
}


.location-company{
    display: flex;
    flex-direction: row;
    gap: 10px
}

.job-location, .job-company{
    background-color: #E0B3FF;
    border-radius: 10px;
    padding: 2px 10px;/* Aumenta o espaço interno, fazendo o fundo se expandir */

}

/* Tab de vagas */

.tab-button-jobs.active {
    font-weight: bold;
    color: white !important;
    border-bottom: 3px solid;
    border-radius: 0;
}